
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: rgb(223, 213, 213);
}
.my-title {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-size: 80px;
    font-weight: 100;
}
.box {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.tasks {
    padding-inline: 50px;
}

.list {
    background-color: white;
    border-width: medium;
    width:40.5%;
    border: black;
    border-width: thick;
    font-size: smaller;
    font-weight: lighter;
    padding-left: 20px;
}

span, input {
    background-color: white;
    border-width: medium;
    width:40.5%;
    border: black;
    font-size: smaller;
    font-weight: lighter;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color:white;
    border:0;

}

.counter {
    font-size:medium;
}

input {
    border: solid;
    border-width: thin;
}